*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Monserrat" , sans-serif;
    font-weight: 500;
    text-transform: uppercase;
}
/* Se ubica el contenido del header con flex */

/* AQUI VA EL MENU DE NAVEGACION DE TODAS LAS PAGINAS */
.header{
    padding: 30px 20px;
    height: 100px;
    position: sticky;
    top: 5px;
    background-color: white;
    width: 100vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-bottom: 5px solid black;
}


.header__close_menu, .header__open_menu{
    display: none;
}

.header .header__logo img {

    width: 90px;
    height: auto;
    margin-right: 20px;
}



.header .header__nav ul {
    max-width: 1500px;
    display: grid;
    column-gap: 30px;
    grid-template-columns: repeat(5, 1fr);

}

.header .header__nav ul li#plegable {
    position: relative;
}
.header .header__nav ul li#plegable ul{
    display: none;
}
.header .header__nav ul li#plegable:hover ul{
    position: absolute;
    display: flex;
    flex-direction: column;
    width: auto;
    right: 10%;
    gap: 10px;
}

.header .header__nav ul.header__lista #plegable:hover ul{
   
    visibility: visible;
    display: block;
    position: absolute;
    top: 8px;
}

.header .header__nav ul li{
    list-style: none;
}
.header .header__nav ul li a, .header .header__nav ul li#plegable ul li a{
    text-decoration: none;
    font-size: 17px;
    color: black;
}
.header .header__nav ul li:hover a, .header .header__nav ul li#plegable ul li:hover a{
    color: orange;
    text-decoration: underline;
}

.header .header__button button{
    background-color: orange;
    padding: 12px;
    border-radius: 20px;
    font-size: 17px;
    border: 2px solid black;
}
.header .header__button button a{
    text-decoration: none;
    color: white;
    background-color: transparent;
}
.header .header__button button a span{
    font-size: 18px;
    font-weight: 700;
    background-color: transparent;
}
.header .header__button button:hover{
    background-color: mediumblue;
}

/* ESTILOS PAGINA INDEX */

.carousel-item{
    height: 500px;
}
#carouselExampleSlidesOnly img{
    position: relative;
    z-index: -2;
}
#img_main {

    margin: 30px auto;
    width: 200px;
    height: 200px;
}

#galeria{
    margin: 50px auto;
    width: 70%;
    display: grid;
    grid-template-columns: repeat(4, auto);
    gap: 10px;
    justify-content: center;

}
#galeria img{
    width: 200px;
    height: auto;
}




/* ESTILOS PAGINA DE CONTACTO */

/* Se modifica todo lo del MAIN */

main#contacto{
    position: relative;
    z-index: -2;
    display: flex;
    width: 100%;
    height: auto;
    padding: 20px 10px;
    background-image:  url(../img/imagen_home1.webp);
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: center;
}

main#contacto .contenedor_principal{
    margin-top: 50px;
    max-width: 1200px;
    height: auto;
    display: grid;
    column-gap: 200px;
    align-items: center;
    grid-template-columns: 1fr 1fr;
}

main#contacto .contenedor_principal .contenedor1{
    background-color: transparent;
    height: 600px;
    color: white;
    padding: 0px 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 20px;
    
}
main#contacto .contenedor_principal .contenedor1 img#img_dog{
    width: 200px;
    height: auto;
}
main#contacto .contenedor_principal .contenedor1 h1{
    font-size: 2rem;
    font-family: 'Karla', sans-serif;
    font-weight: 700;
    text-transform: capitalize;
}
main#contacto .contenedor_principal .contenedor1 p{
    text-align: justify;
    font-size: 16px;
    font-weight: 400;
    
}

main#contacto .contenedor_principal .contenedor2{
    height: 600px;
    padding-top: 35px;
    padding-left: 25px;
    padding-right: 25px;
    border-radius: 10px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-items: center;


}
main#contacto .contenedor_principal .contenedor2::before{
    position: absolute;
    content: "";
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background-image:  url(../img/cerdito.jpg);
    background-repeat: none;
    background-size: cover;
    background-position: center;
    z-index: -1;
    opacity: .7;
    border-radius: 20px;
    
}



.contenedor_principal .contenedor1 button, .contenedor2 button{
    font-size: 18px;
    padding: 8px 15px;
    max-width: 200px;
    text-transform: unset;
    color: white;
    background-color: orange;
    border: 5px bold red;
    border-radius: 30px;
}
.contenedor2 button{
    max-width: 500px;
}
.contenedor_principal .contenedor1 button:hover, .contenedor2 button:hover{
    background-color: rgb(157, 13, 131);
   
}

.contenedor2 h2{
    text-align: center;
    font-size: 22px;
    font-weight: 700;
    color: white;
    margin-bottom: 30px;
}
.contenedor2 form .form__bloque1{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
    row-gap: 20px;
}

.contenedor2 form input::placeholder{
    text-transform: lowercase;
    text-align: center;
}

.contenedor2 form .form__bloque1 .bloque1__subloque label, .contenedor2 form .form__bloque2 .bloque2__subloque label {
    display: block;
    color: white;
}
.contenedor2 form .form__bloque1 .bloque1__subloque>input, input.caja, .contenedor2 button{
    width: 100%;
    height: 40px;
    padding: 5px;
    border-radius: 12px;
    border: 2px solid black;
    background-color: white;
 
}
.contenedor2 form .form__bloque2{
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    row-gap: 30px;
    column-gap: 50px;
}
.contenedor2 button{
    margin-top: 30px;
    border: 5px bold red;
    background-color: orange;
    color: white;
    font-weight: 700;
}

/* ACA VA TODO EL CSS DE PAGINA DE PRODUCTOS */
.titulo_productos{
    margin-top: 40px;
    text-align: center;
}

section#dulces, section#bebidas_frias, section#bebidas_calientes, section#tortas{
    margin-top: 100px;
    position: relative;
    z-index: -1;
    margin-bottom: 50px;
    margin-left: 80px;
}
section#dulces>h2, section#bebidas_frias>h2, section#bebidas_calientes>h2, section#tortas>h2{
    margin-left: 100px;
}



/* ACA VA TODO EL CSS DE TESTIMONIOS */
#titulos h1{
    text-align: center;
}
body#body_testimonio, body#body_productos, body#body_index{
    background-image: linear-gradient(55deg,#efebc4, #dae46b );
    
    width: 100%;
    background-size: cover;
    
}
section.contenedor_section{
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    z-index: -2;
}

/* PURO FOOTER ICONOS */
footer{
        
    border-top: 5px solid black;
}
footer div.principal div.red div.footer-icons-locate {
  
    margin-top: 50px;
    margin-left: 30px;
    display: flex;
    flex-wrap: nowrap;
    

}
footer div.principal div.red div.footer-icons-locate a.icon-config i {
    color: #00405d;
    font-size: 40px;
    margin-bottom: 30px;
}
footer div.principal div.red div.footer-icons-locate a:hover i{
    color: #7facce;
}

iframe{
    width: 300px;
    height: auto;
}



/* SE AJUSTA LA MEDIA PARA DISPOSITIVOS MÓVILES 550px */
@media screen and (max-width: 550px) {

    /* HEADER  */
  
    .header__close_menu{
        display: block;
        position: fixed;
        z-index: 5;
        margin: 10px;
        background-color: transparent;
        left: 40;
        top: 0;
        border: 0px;
        width: 15vw;
        cursor: pointer;
        font-size: 30px;
        height: auto;
    }
    .header__open_menu{
        display: block;
        margin: 10px;
        background-color: transparent;
        right: 0;
        top: 0;
        border: 0px;
        width: 15vw;
        cursor: pointer;
        font-size: 30px;
        height: auto;
    }
    #nav{
        position: absolute;
        z-index: 5;
    }
  
    .header__nav{
        opacity: 0;
        visibility: hidden;
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        height: 100vh;
        overflow: visible;
    }
    .header__nav.visible{
        opacity: 1;
        visibility: visible;
    }
    .header__nav ul#header__lista{
        align-items: end;
        display: flex;
        flex-direction: column;
        width: 50vw;
        height: 100vh;
        row-gap: 20px;
        background-color: #fffefe;
        border-radius: 10px;
        padding: 2rem;
        box-shadow: 0 0 0 100vmax rgba(0, 0, 0, .5);
    }
    .header .header__nav ul li#plegable ul{
        display: none;
    }
    .header__nav ul#header__lista li a{
        color: black;
    }
    .header__button{
        display: none;
    }

    /*PARA EL INDEX  */
    #galeria{
        grid-template-columns: 1fr;
    }
    #galeria img{
        width: 300px;
        margin: 30px;
        height: auto;
    }
    .texto_extra {
        max-width: 400px;
        padding: 5px 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .texto_extra img{
        order: 0;
    }
    .sect_anuncios{
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        gap: 10px;
        align-items: center;
    }


    /*  PARA LA PAGINA ABOUT */
    .encuentranos{
       margin-bottom: 30px;
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    .encuentranos div.acerca_nosotros{
        order: -1;
        text-align: left;
        margin: 20px auto;
    }

    /* FORMULARIO CAJA */

    main#contacto .contenedor_principal {
        margin-top: 20px;
        width: 100%;
        max-width: 500px;
        height: auto;
        display: grid;
        row-gap: 30px;
        justify-items: center;
        grid-template-columns: 1fr;
        grid-template-rows: auto auto;
    }
    .contenedor_principal .contenedor1{
        width: 90vw;
        height: auto;
        min-height: 650px;
    }

    .contenedor_principal .contenedor1 h1 span{
        color: red;
        
    }
    .contenedor_principal .contenedor1 button {
        font-size: 16px;
        padding: 8px 15px;
        max-width: 200px;
        text-transform: unset;
        color: white;
        background-color: orange;
        border: 5px bold red;
        border-radius: 15px;
        
    }

    main#contacto .contenedor_principal .contenedor2 {
        top: 100px;
        width: 90vw;
        height: auto;
        max-height: 930px;
        padding-top: 35px;
        padding-left: 25px;
        padding-right: 25px;
        padding-bottom: 25px;
        border-radius: 10px;
        margin-bottom: 120px;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-items: center;
    }

    .contenedor2 form .form__bloque2{
        margin-top: 50px;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(2, 1fr);
        row-gap: 30px;
        column-gap: 50px;
    }

    /* CONTENIDO CAJA RESPONSIVE */

    .contenedor_info{
        text-align: justify;
        margin: 10px 30px;
    }

    /* CSS PARA TESTIMONIOS */

    #titulos h1{
        margin: 30px 0;
        color: white;
        text-align: center;
    }

    /* PRODUCTOS RESPONSIVE */

    section#dulces, section#bebidas_frias, section#bebidas_calientes, section#tortas{
        margin-left: 20px;
    }
    section#dulces>h2, section#bebidas_frias>h2, section#bebidas_calientes>h2, section#tortas>h2{
        margin-left: auto;
    }

    /* FOOTER RESPONSIVE */

    footer div.principal div.redes div.footer-icons-locate {

        margin-top: 50px;
        margin-left: 30px;
        display: flex;
        justify-content: center;
        flex-wrap: nowrap;

    }
    /* ocultamos la info de mi footer */

    .la-info p{
        display: none;
    }
    .redes{
        margin-top: 20px;
        margin-bottom: 20px;
        margin-left: 80px;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: center;

    }
    .principal .red .redes a#tiktok{
        display: none;
    }
    .red .redes a i{
        font-size: 50px;
    }
    iframe{
        margin: 0;
        width: 250px;
        height: auto;
    }
}