
$colores: (
    'bg-footer': #f7bb08,
    'redes-color':#00405d,
    'redes-color-hover':#7facce,
    'color-copy-footer': #F71735,
    'color-gray': #FDFFFC,
    'color-ligth-blue': #41EAD4,
);

$sizeFuentes:(
    "titulos": 35px,
    "subtitulos": 25px,
    "cards_titulo": 27px,
    "cards_texto": 22px,
    "parrafos": 18px,
);

/* Transiciones */

@mixin subtitulos{
    color: red;
    margin-left: 30px;
    padding: 22px;
    font-size: map-get($sizeFuentes , subtitulos);
    font-weight: 700;
}

@mixin animacionUp {
    transition: all 0.5s;
}
@keyframes galeria {
    0% { transform: translateY(-20px); }
}