
/* ESTILOS PAGINA DE CONTACTO */

/* Se modifica todo lo del MAIN */

main#contacto{
    position: relative;
    z-index: -2;
    display: flex;
    width: 100%;
    height: auto;
    padding: 20px 10px;
    background-image:  url(../../img/fondo_contacto.webp);
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: center;
}
main#contacto .contenedor_principal{
    margin-top: 50px;
    max-width: 1200px;
    height: auto;
    display: grid;
    column-gap: 200px;
    align-items: center;
    grid-template-columns: 1fr 1fr;
}
main#contacto .contenedor_principal .contenedor1{
    background-color: transparent;
    height: 600px;
    color: map-get($colores, color-texto-parrafo);
    padding: 0px 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 20px;  
}
main#contacto .contenedor_principal .contenedor1 img#img_dog{
    width: 200px;
    height: auto;
}
main#contacto .contenedor_principal .contenedor1 h1{
    font-size: 2rem;
    font-family: 'Karla', sans-serif;
    font-weight: 700;
    text-transform: capitalize;

}
main#contacto .contenedor_principal .contenedor1 p{
    @include parrafo;  
    font-weight: 400;
}

main#contacto .contenedor_principal .contenedor2{
    height: 600px;
    padding-top: 35px;
    padding-left: 25px;
    padding-right: 25px;
    border-radius: 10px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-items: center;


}
main#contacto .contenedor_principal .contenedor2::before{
    position: absolute;
    content: "";
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background-color: map-get($colores, color-fondo-formu);
    background-repeat: none;
    background-size: cover;
    background-position: center;
    z-index: -1;
    opacity: .7;
    border-radius: 20px;   
}
.contenedor_principal .contenedor1 button, .contenedor2 button{
    font-size: 18px;
    padding: 8px 15px;
    max-width: 200px;
    text-transform: unset;
    color: map-get($colores, color-texto-parrafo );
    background-color: orange;
    border: 5px bold red;
    border-radius: 30px;


}
.contenedor2 button{
    margin: auto;
    max-width: 200px;

}
.contenedor2 h2{
    text-align: center;
    font-size: 22px;
    font-weight: 700;
    color: white;
    margin-bottom: 30px;

}
.contenedor2 form .form__bloque1{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
    row-gap: 20px;
}

.contenedor2 form input::placeholder{
    text-transform: lowercase;
    text-align: center;
}

.contenedor2 form .form__bloque1 .bloque1__subloque label, .contenedor2 form .form__bloque2 .bloque2__subloque label {
    display: block;
    color: white;
}
.contenedor2 form .form__bloque1 .bloque1__subloque>input, input.caja, .contenedor2 button{
    width: 100%;
    height: 40px;
    padding: 5px;
    border-radius: 12px;
    border: 2px solid black;
    background-color: white;
 
}
.contenedor2 form .form__bloque2{
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    row-gap: 30px;
    column-gap: 50px;
}
.contenedor2 button{
    margin-top: 30px;
    border: 3px bold red;
    background-color: orange;
    color: white;
    font-weight: 700;
}




