/* ACA VA TODO EL CSS DE PAGINA DE PRODUCTOS */
.titulo_productos{
    margin-top: 40px;
    text-align: center;
}

section#dulces, section#bebidas_frias, section#bebidas_calientes, section#tortas{
    margin-top: 100px;
    position: relative;
    z-index: -1;
    margin-bottom: 50px;
    margin-left: 80px;
    h2{
        @include subtitulos;
    }
}

section#dulces>h2, section#bebidas_frias>h2, section#bebidas_calientes>h2, section#tortas>h2{
    margin-left: 100px;
}